<section class="footer">

    <div class="share">
        <a href="#" class="btn1">facebook</a>
        <a href="#" class="btn1">twitter</a>
        <a href="#" class="btn1">instagram</a>
        <a href="#" class="btn1">pinterest</a>
        <a href="#" class="btn1">linkedin</a>
    </div>

</section>