<header>

    <a href="#" class="logo"><i class="fas fa-utensils"></i>food</a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
        <div>
            <a href="#home">Home</a>
            <a href="#speciality">speciality</a>
            <a href="#popular">popular</a>
            <a href="#gallery">gallery</a>
            <a href="#review">review</a>
            <a href="#order">order</a>
        </div>
        <div>
            <a href="#home"><i class="fas fa-shopping-cart"></i></a>
            <a href="#speciality"><i class="fas fa-user"></i> Login</a>
        </div>
    </nav>
    <nav class="navbar">

    </nav>
</header>